.restart-button-menu {
  margin-top: 20px;
  font-size: 42px;
  border-radius: 16px;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border: 4px solid white;
  outline: 4px solid black;
  background-color: #850926;
  cursor: url('./Hand.png'), auto;
}

.loose-menu-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loose-menu-container::before {
  content: '';
  z-index: -1;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: -10%;
  height: 120%;
  width: 120%;
  border-radius: 16px;
}

.loose-menu-title {
  font-size: 32px;
  color: black;
}
